@*
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
*@
@{
    <div class="flex max-lg:flex-col 2xl:gap-12 gap-10 2xl:max-w-[1220px] max-w-[1065px] mx-auto" id="js-oversized">

        <div class="flex-1">

            <div class="page-heading">

                <h1 class="page-title"> Articles </h1>

                <nav class="nav__underline">

                    <ul uk-tab class="group" uk-switcher="connect: #ttabs ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">

                        <li> <a href="blog.html#"> Suggestions </a> </li>
                        <li> <a href="blog.html#"> Popular </a> </li>
                        <li> <a href="blog.html#"> My article </a> </li>

                    </ul>

                </nav>

            </div>

            <!--  feature blog slider -->
            <div tabindex="-1" uk-slider="finite:true">

                <div class="uk-slider-container pb-1">

                    <ul class="uk-slider-items grid-small">
                        <li class="sm:w-1/3 w-1/2">
                            <div class="card">
                                <a href="blog-read.html">
                                    <div class="card-media h-32">
                                        <img src="images/blog/img-1.jpg" alt="">
                                        <div class="card-overly"></div>
                                    </div>
                                </a>
                                <div class="card-body">
                                    <a href="blog-read.html">
                                        <h4 class="card-title text-sm line-clamp-2"> Top amazing web demos and experiments in 2024 should know about </h4>
                                    </a>
                                    <p class="card-text text-xs mt-1.5"> <a href="blog.html#">  Jesse Steeve </a> </p>
                                    <div class="card-list-info mt-1 text-xs">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sm:w-1/3 w-1/2">
                            <div class="card">
                                <a href="blog-read.html">
                                    <div class="card-media h-32">
                                        <img src="images/blog/img-2.jpg" alt="">
                                        <div class="card-overly"></div>
                                    </div>
                                </a>
                                <div class="card-body">
                                    <a href="blog-read.html">
                                        <h4 class="card-title text-sm line-clamp-2"> Awesome web dev tools and resources for 2024 in 30 minutes  </h4>
                                    </a>
                                    <p class="card-text text-xs mt-1.5"> <a href="blog.html#">  John Michael</a> </p>
                                    <div class="card-list-info mt-1 text-xs">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sm:w-1/3 w-1/2">
                            <div class="card">
                                <a href="blog-read.html">
                                    <div class="card-media h-32">
                                        <img src="images/blog/img-3.jpg" alt="">
                                        <div class="card-overly"></div>
                                    </div>
                                </a>
                                <div class="card-body">
                                    <a href="blog-read.html">
                                        <h4 class="card-title text-sm line-clamp-2"> Interesting JavaScript and CSS libraries should Know About </h4>
                                    </a>
                                    <p class="card-text text-xs mt-1.5"> <a href="blog.html#">  Monroe Parker </a> </p>
                                    <div class="card-list-info mt-1 text-xs">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sm:w-1/3 w-1/2">
                            <div class="card">
                                <a href="blog-read.html">
                                    <div class="card-media h-32">
                                        <img src="images/blog/img-4.jpg" alt="">
                                        <div class="card-overly"></div>
                                    </div>
                                </a>
                                <div class="card-body">
                                    <a href="blog-read.html">
                                        <h4 class="card-title text-sm line-clamp-2">Interesting javaScript and CSS libraries  you should be learn</h4>
                                    </a>
                                    <p class="card-text text-xs mt-1.5"> <a href="blog.html#">  Martin Gray </a> </p>
                                    <div class="card-list-info mt-1 text-xs">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

                <!-- slide nav icons -->
                <a class="nav-prev !top-24" href="blog.html#" uk-slider-item="previous"> <ion-icon name="chevron-back" class="text-2xl"></ion-icon> </a>
                <a class="nav-next !top-24" href="blog.html#" uk-slider-item="next"> <ion-icon name="chevron-forward" class="text-2xl"></ion-icon></a>

            </div>

            <div class="card mt-8">
                <div class="card-media md:h-80 h-52">
                    <img src="images/group/group-cover-1.jpg" alt="">
                    <div class="card-overly"></div>

                </div>
                <div class="card-body p-5 w-full z-10 absolute bg-gradient-to-t bottom-0 from-black/60">
                    <p class="card-text text-white/80"> <a href="blog.html#">  Denise Marie </a> </p>
                    <h4 class="card-title text-xl mt-1.5 !text-white"> Exploring an Abandoned Water Park in China </h4>

                    <div class="card-list-info font-medium mt-1 text-xs mt-1.5 gap-2.5 text-white">
                        <div class="flex items-center gap-1.5 text-sm"> 27  <ion-icon name="thumbs-up-outline" class="text-base"></ion-icon> </div>
                        <div class="flex items-center gap-1.5 text-sm"> 156.9K  <ion-icon name="chatbox-outline" class="text-base"></ion-icon> </div>
                    </div>

                </div>
            </div>

            <!-- recomended writters-->
            <div class="bg-secondery p-6 rounded-md mt-8 shadow dark:bg-dark2">
                <div class="flex items-center justify-between text-black dark:text-white">
                    <h3 class="text-lg font-semibold"> Recommended Writters for you </h3>
                    <a href="blog.html#" class="text-sm text-blue-500 flex items-center gap-2">See all <ion-icon name="arrow-forward-outline"></ion-icon> </a>
                </div>

                <div class="grid sm:grid-cols-2 gap-3 mt-4">
                    <div class="side-list-item p-4 box dark:bg-white/5">
                        <a href="timeline.html">
                            <img src="images/avatars/avatar-5.jpg" alt="" class="rounded-full w-10 h-10">
                        </a>
                        <div class="flex-1">
                            <a href="timeline.html"><h4 class="side-list-title"> James Lewis</h4></a>
                            <div class="side-list-info"> 42 articles </div>
                        </div>
                        <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="side-list-item p-4 box dark:bg-white/5">
                        <a href="timeline.html">
                            <img src="images/avatars/avatar-4.jpg" alt="" class="rounded-full w-10 h-10">
                        </a>
                        <div class="flex-1">
                            <a href="timeline.html"><h4 class="side-list-title">  Martin Gray</h4></a>
                            <div class="side-list-info"> 25 articles </div>
                        </div>
                        <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="side-list-item p-4 box dark:bg-white/5">
                        <a href="timeline.html">
                            <img src="images/avatars/avatar-3.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                        </a>
                        <div class="flex-1">
                            <a href="timeline.html"><h4 class="side-list-title">  Monroe Parker</h4></a>
                            <div class="side-list-info"> 15 articles </div>
                        </div>
                        <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="side-list-item p-4 box dark:bg-white/5">
                        <a href="timeline.html">
                            <img src="images/avatars/avatar-7.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                        </a>
                        <div class="flex-1">
                            <a href="timeline.html"><h4 class="side-list-title"> Jesse Steeve</h4></a>
                            <div class="side-list-info"> 36 articles </div>
                        </div>
                        <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                            </svg>
                        </button>
                    </div>
                </div>


            </div>

            <!-- title -->
            <div class="flex items-center justify-between text-black dark:text-white py-3 mt-8">
                <h3 class="text-xl font-semibold"> Articles for you </h3>
                <a href="blog.html#" class="text-sm text-blue-500">See all</a>
            </div>

            <!-- articale list layout -->
            <div class="box p-5 mt-4">

                <div class="card-list">
                    <a href="blog-read.html" class="lg:order-1">
                        <div class="card-list-media h-32">
                            <img src="images/blog/img-2.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-list-body">
                        <a href="blog-read.html"> <h3 class="card-list-title"> Top amazing web demos and experiments in 2024 should know about </h3> </a>
                        <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <a href="blog.html#"> <div class="card-list-link"> Jesse Steeve </div> </a>
                        <div class="card-list-info">
                            <div class="flex items-center gap-2">
                                <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                45
                            </div>
                            <div class="md:block hidden">·</div>
                            <div class="flex items-center gap-2">
                                <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                156.9K
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="card-list-divider">
                <div class="card-list">
                    <a href="blog-read.html" class="lg:order-1">
                        <div class="card-list-media h-32">
                            <img src="images/blog/img-3.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-list-body">
                        <a href="blog-read.html"> <h3 class="card-list-title"> Interesting JavaScript and CSS libraries should Know About </h3> </a>
                        <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <a href="blog.html#"> <div class="card-list-link"> Monroe Parker </div> </a>
                        <div class="card-list-info">
                            <div class="flex items-center gap-2">
                                <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                45
                            </div>
                            <div class="md:block hidden">·</div>
                            <div class="flex items-center gap-2">
                                <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                156.9K
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="card-list-divider">
                <div class="card-list">
                    <a href="blog-read.html" class="lg:order-1">
                        <div class="card-list-media h-32">
                            <img src="images/blog/img-4.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-list-body">
                        <a href="blog-read.html"> <h3 class="card-list-title">Interesting javaScript and CSS libraries  you should be learn</h3> </a>
                        <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <a href="blog.html#"> <div class="card-list-link"> Martin Gray </div> </a>
                        <div class="card-list-info">
                            <div class="flex items-center gap-2">
                                <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                45
                            </div>
                            <div class="md:block hidden">·</div>
                            <div class="flex items-center gap-2">
                                <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                156.9K
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex justify-center my-6">
                <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
            </div>

        </div>

        <!-- sidebar -->
        <div class="2xl:w-[380px] lg:w-[330px] w-full">

            <div class="lg:space-y-6 space-y-4 lg:pb-8 max-lg:grid sm:grid-cols-2 max-lg:gap-6"
                 uk-sticky="media: 1024; end: #js-oversized; offset: 80">

                <div class="relative uk-visible-toggle" tabindex="-1" uk-slideshow="finite: true ; min-height: 300; max-height: 500">

                    <ul class="uk-slideshow-items">
                        <li class="w-full overflow-hidden rounded-xl">
                            <img src="images/blog/img-3.jpg" alt="" class="w-full h-full object-cover">
                            <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                    <a href="timeline.html"><h4 class="text-sm font-medium !text-white">  Interesting JavaScript and CSS libraries should Know About</h4></a>
                                    <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="w-full overflow-hidden rounded-md">
                            <img src="images/blog/img-2.jpg" alt="" class="w-full h-full object-cover">
                            <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                    <a href="timeline.html"><h4 class="text-sm font-medium !text-white"> Awesome web dev tools and resources for 2024 in 30 minutes </h4></a>
                                    <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="w-full overflow-hidden rounded-md">
                            <img src="images/blog/img-4.jpg" alt="" class="w-full h-full object-cover">
                            <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                    <a href="timeline.html"><h4 class="text-sm font-medium !text-white"> Interesting javaScript and CSS libraries  you should be learn</h4></a>
                                    <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- slide nav -->
                    <div class="flex justify-center">
                        <ul class="inline-flex flex-wrap justify-center  absolute bottom-3 gap-1.5 uk-dotnav uk-slideshow-nav"> </ul>
                    </div>

                    <!-- slide nav icons -->
                    <a class="nav-prev" href="blog.html#" uk-slideshow-item="previous"> <ion-icon name="chevron-back" class="text-2xl"></ion-icon> </a>
                    <a class="nav-next" href="blog.html#" uk-slideshow-item="next"> <ion-icon name="chevron-forward" class="text-2xl"></ion-icon></a>

                </div>

                <div class="box p-5 px-6">

                    <div class="flex items-baseline justify-between text-black dark:text-white">
                        <h3 class="font-bold text-base"> Trending Articles</h3>
                        <a href="blog.html#" class="text-sm text-blue-500">See all</a>
                    </div>

                    <div class="mt-4 space-y-4">

                        <div>
                            <a href="blog-read.html"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">Interesting javaScript and CSS libraries  you should be learn</h4></a>
                            <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                <div> 10 Jun 2022 </div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>
                        </div>
                        <div>
                            <a href="blog-read.html"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80"> Interesting javaScript and CSS libraries  you should be learn</h4></a>
                            <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                <div> 10 Jun 2022 </div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>
                        </div>
                        <div>
                            <a href="blog-read.html"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">  Interesting JavaScript and CSS libraries should Know About</h4></a>
                            <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                <div> 10 Jun 2022 </div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>
                        </div>
                        <div>
                            <a href="blog-read.html"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">Top amazing web demos and experiments should know about</h4></a>
                            <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                <div> 10 Jun 2022 </div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- peaple you might know -->
                <div class="box p-5 px-6 border1 dark:bg-dark2">

                    <div class="flex justify-between text-black dark:text-white">
                        <h3 class="font-bold text-base"> Peaple You might know </h3>
                        <button type="button"> <ion-icon name="sync-outline" class="text-xl"></ion-icon> </button>
                    </div>

                    <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">

                        <div class="flex items-center gap-3">
                            <a href="timeline.html">
                                <img src="images/avatars/avatar-7.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Johnson smith</h4></a>
                                <div class="mt-0.5"> Suggested For You </div>
                            </div>
                            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                        </div>
                        <div class="flex items-center gap-3">
                            <a href="timeline.html">
                                <img src="images/avatars/avatar-5.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="font-semibold text-sm text-black dark:text-white"> James Lewis</h4></a>
                                <div class="mt-0.5"> Followed by Johnson </div>
                            </div>
                            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                        </div>
                        <div class="flex items-center gap-3">
                            <a href="timeline.html">
                                <img src="images/avatars/avatar-2.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="font-semibold text-sm text-black dark:text-white"> John Michael</h4></a>
                                <div class="mt-0.5"> Followed by Monroe  </div>
                            </div>
                            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                        </div>
                        <div class="flex items-center gap-3">
                            <a href="timeline.html">
                                <img src="images/avatars/avatar-3.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Monroe Parker</h4></a>
                                <div class="mt-0.5"> Suggested For You </div>
                            </div>
                            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                        </div>
                        <div class="flex items-center gap-3">
                            <a href="timeline.html">
                                <img src="images/avatars/avatar-4.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Martin Gray</h4></a>
                                <div class="mt-0.5"> Suggested For You </div>
                            </div>
                            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
}
