@*
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
*@
@{

        <div class="2xl:max-w-[1220px] max-w-[1065px] mx-auto">

            <div class="page-heading">

                <h1 class="page-title"> Videos </h1>

                <nav class="nav__underline">

                    <ul uk-tab class="group" uk-switcher="connect: #ttabs ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">

                        <li> <a href="video.html#"> Suggestions  </a> </li>
                        <li> <a href="video.html#"> Popular </a> </li>
                        <li> <a href="video.html#"> My videos </a> </li>

                    </ul>

                </nav>

            </div>

            <div class="mt-10">

                <!-- page feautred -->
                <div class="relative" tabindex="-1" uk-slider="finite:true">

                    <div class="uk-slider-container pb-1">

                        <ul class="uk-slider-items grid-small">

                            <li class="lg:w-1/4 sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="video-watch.html">
                                        <div class="card-media sm:aspect-[2/1.1] h-28">
                                            <img src="images/video/img-1.png" alt="">
                                            <div class="card-overly"></div>
                                            <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                            <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="video-watch.html">
                                            <h4 class="card-title text-sm line-clamp-2"> Amazing house construction from foundation to last detail</h4>
                                        </a>
                                        <p class="card-text mt-1.5"> <a href="timeline.html"> 111 Jesse Steeve </a> </p>
                                        <div class="card-list-info text-xs mt-1 flex-wrap">
                                            <div> 27 weeks ago</div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="lg:w-1/4 sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="video-watch.html">
                                        <div class="card-media sm:aspect-[2/1.1] h-28">
                                            <img src="images/video/img-2.png" alt="">
                                            <div class="card-overly"></div>
                                            <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                            <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="video-watch.html">
                                            <h4 class="card-title text-sm line-clamp-2"> Great drone jet testing range flat model show with advance</h4>
                                        </a>
                                        <p class="card-text mt-1.5"> <a href="timeline.html">  John Michael </a> </p>
                                        <div class="card-list-info text-xs mt-1 flex-wrap">
                                            <div> 27 weeks ago</div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="lg:w-1/4 sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="video-watch.html">
                                        <div class="card-media sm:aspect-[2/1.1] h-28">
                                            <img src="images/video/img-3.png" alt="">
                                            <div class="card-overly"></div>
                                            <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                            <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="video-watch.html">
                                            <h4 class="card-title text-sm line-clamp-2"> Exploring latest an abandoned water park in china city</h4>
                                        </a>
                                        <p class="card-text mt-1.5"> <a href="timeline.html">  Monroe Parker </a> </p>
                                        <div class="card-list-info text-xs mt-1 flex-wrap">
                                            <div> 27 weeks ago</div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="lg:w-1/4 sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="video-watch.html">
                                        <div class="card-media sm:aspect-[2/1.1] h-28">
                                            <img src="images/video/img-4.png" alt="">
                                            <div class="card-overly"></div>
                                            <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                            <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="video-watch.html">
                                            <h4 class="card-title text-sm line-clamp-2"> cheese cake eggless without oven hida mari cooking </h4>
                                        </a>
                                        <p class="card-text mt-1.5"> <a href="timeline.html">  Martin Gray </a> </p>
                                        <div class="card-list-info text-xs mt-1 flex-wrap">
                                            <div> 27 weeks ago</div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="lg:w-1/4 sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="video-watch.html">
                                        <div class="card-media sm:aspect-[2/1.1] h-28">
                                            <img src="images/video/img-5.png" alt="">
                                            <div class="card-overly"></div>
                                            <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                            <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="video-watch.html">
                                            <h4 class="card-title text-sm line-clamp-2"> Amazing little girl has very talent voice vocal coach</h4>
                                        </a>
                                        <p class="card-text mt-1.5"> <a href="timeline.html">  James Lewis </a> </p>
                                        <div class="card-list-info text-xs mt-1 flex-wrap">
                                            <div> 27 weeks ago</div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <!-- slide nav icons -->
                    <a class="nav-prev !top-20" href="video.html#" uk-slider-item="previous"> <ion-icon name="chevron-back" class="text-2xl"></ion-icon> </a>
                    <a class="nav-next !top-20" href="video.html#" uk-slider-item="next"> <ion-icon name="chevron-forward" class="text-2xl"></ion-icon></a>

                </div>

                <!-- video grid with out slider  is hidden by default -->
                <div class="grid 2xl:grid-cols-5 lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-2.5 mt-10 hidden">

                    <div class="card">
                        <a href="video-watch.html">
                            <div class="card-media sm:aspect-[2/1.1] h-28">
                                <img src="images/video/img-1.png" alt="">
                                <div class="card-overly"></div>
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="video-watch.html">
                                <h4 class="card-title text-sm line-clamp-2"> Amazing house construction from foundation to last detail</h4>
                            </a>
                            <p class="card-text mt-1.5"> <a href="timeline.html">  Jesse Steeve </a> </p>
                            <div class="card-list-info text-xs mt-1 flex-wrap">
                                <div> 27 weeks ago</div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <a href="video-watch.html">
                            <div class="card-media sm:aspect-[2/1.1] h-28">
                                <img src="images/video/img-2.png" alt="">
                                <div class="card-overly"></div>
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="video-watch.html">
                                <h4 class="card-title text-sm line-clamp-2"> Great drone jet testing range flat model show with advance</h4>
                            </a>
                            <p class="card-text mt-1.5"> <a href="timeline.html">  John Michael </a> </p>
                            <div class="card-list-info text-xs mt-1 flex-wrap">
                                <div> 27 weeks ago</div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <a href="video-watch.html">
                            <div class="card-media sm:aspect-[2/1.1] h-28">
                                <img src="images/video/img-3.png" alt="">
                                <div class="card-overly"></div>
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="video-watch.html">
                                <h4 class="card-title text-sm line-clamp-2"> Exploring latest an abandoned water park in china city</h4>
                            </a>
                            <p class="card-text mt-1.5"> <a href="timeline.html">  Monroe Parker </a> </p>
                            <div class="card-list-info text-xs mt-1 flex-wrap">
                                <div> 27 weeks ago</div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <a href="video-watch.html">
                            <div class="card-media sm:aspect-[2/1.1] h-28">
                                <img src="images/video/img-5.png" alt="">
                                <div class="card-overly"></div>
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="video-watch.html">
                                <h4 class="card-title text-sm line-clamp-2"> Amazing little girl has very talent voice vocal coach</h4>
                            </a>
                            <p class="card-text mt-1.5"> <a href="timeline.html">  James Lewis </a> </p>
                            <div class="card-list-info text-xs mt-1 flex-wrap">
                                <div> 27 weeks ago</div>
                                <div class="md:block hidden">·</div>
                                <div> 156.9K views</div>
                            </div>

                        </div>
                    </div>

                </div>


                <!-- second title -->
                <div class="flex items-center justify-between text-black dark:text-white py-3 mt-10">
                    <h3 class="text-xl font-semibold"> Your videos </h3>
                    <a href="video.html#" class="text-sm text-blue-500">See all</a>
                </div>

                <!-- card list  -->
                <div class="box p-6 mt-6">

                    <div class="card-list">
                        <a href="video-watch.html">
                            <div class="card-list-media md:w-[320px] md:h-[180px] sm:aspect-[3/1.2] aspect-[3/1.5]">
                                <img src="images/video/img-2.png" alt="">
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-list-body relative">
                            <a href="video-watch.html"> <h3 class="card-list-title lg:mt-2 lg:line-clamp-1">  Great drone jet testing range flat model show with advance  </h3> </a>
                            <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                            <a href="timeline.html"> <div class="card-list-link mt-5">   John Michael </div> </a>
                            <div class="flex items-center justify-between">
                                <div class="card-list-info">
                                    <div> 27 weeks ago</div>
                                    <div class="md:block hidden">·</div>
                                    <div> 156.9K views</div>
                                </div>
                                <button type="button" class=" bg-second ery px-3.5 py-1.5 rounded-lg border2 md:inline-block hidden text-sm"> Add favorites </button>
                            </div>
                            <!-- dropdown menu -->
                            <div class=" absolute top-0 right-0 -m-1">
                                <button type="button" class="hover:bg-secondery w-10 h-10 rounded-full grid place-items-center"> <ion-icon class="text-2xl" name="ellipsis-horizontal"></ion-icon> </button>
                                <div class="w-[245px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                    <nav>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="bookmark-outline"></ion-icon>  Add to favorites </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="albums-outline"></ion-icon>  add to collections </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="flag-outline"></ion-icon>  Report </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="share-outline"></ion-icon>  Share </a>
                                        <hr>
                                        <a href="video.html#" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl" name="trash-outline"></ion-icon> Delete  </a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="card-list-divider"></hr>

                    <div class="card-list">
                        <a href="video-watch.html">
                            <div class="card-list-media md:w-[320px] md:h-[180px] sm:aspect-[3/1.2] aspect-[3/1.5]">
                                <img src="images/video/img-3.png" alt="">
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-list-body relative">
                            <a href="video-watch.html"> <h3 class="card-list-title lg:mt-2 lg:line-clamp-1">  Exploring latest an abandoned water park in china city</h3> </a>
                            <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                            <a href="timeline.html"> <div class="card-list-link mt-5">   Monroe Parker </div> </a>
                            <div class="flex items-center justify-between">
                                <div class="card-list-info">
                                    <div> 27 weeks ago</div>
                                    <div class="md:block hidden">·</div>
                                    <div> 156.9K views</div>
                                </div>
                                <button type="button" class=" bg-second ery px-3.5 py-1.5 rounded-lg border2 md:inline-block hidden text-sm"> Add favorites </button>
                            </div>
                            <!-- dropdown menu -->
                            <div class=" absolute top-0 right-0 -m-1">
                                <button type="button" class="hover:bg-secondery w-10 h-10 rounded-full grid place-items-center"> <ion-icon class="text-2xl" name="ellipsis-horizontal"></ion-icon> </button>
                                <div class="w-[245px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                    <nav>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="bookmark-outline"></ion-icon>  Add to favorites </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="albums-outline"></ion-icon>  add to collections </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="flag-outline"></ion-icon>  Report </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="share-outline"></ion-icon>  Share </a>
                                        <hr>
                                        <a href="video.html#" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl" name="trash-outline"></ion-icon> Delete  </a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="card-list-divider"></hr>

                    <div class="card-list">
                        <a href="video-watch.html">
                            <div class="card-list-media md:w-[320px] md:h-[180px] sm:aspect-[3/1.2] aspect-[3/1.5]">
                                <img src="images/video/img-4.png" alt="">
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-list-body relative">
                            <a href="video-watch.html"> <h3 class="card-list-title lg:mt-2 lg:line-clamp-1">  cheese cake eggless without oven hida mari cooking </h3> </a>
                            <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                            <a href="timeline.html"> <div class="card-list-link mt-5">   Martin Gray </div> </a>
                            <div class="flex items-center justify-between">
                                <div class="card-list-info">
                                    <div> 27 weeks ago</div>
                                    <div class="md:block hidden">·</div>
                                    <div> 156.9K views</div>
                                </div>
                                <button type="button" class=" bg-second ery px-3.5 py-1.5 rounded-lg border2 md:inline-block hidden text-sm"> Add favorites </button>
                            </div>
                            <!-- dropdown menu -->
                            <div class=" absolute top-0 right-0 -m-1">
                                <button type="button" class="hover:bg-secondery w-10 h-10 rounded-full grid place-items-center"> <ion-icon class="text-2xl" name="ellipsis-horizontal"></ion-icon> </button>
                                <div class="w-[245px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                    <nav>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="bookmark-outline"></ion-icon>  Add to favorites </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="albums-outline"></ion-icon>  add to collections </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="flag-outline"></ion-icon>  Report </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="share-outline"></ion-icon>  Share </a>
                                        <hr>
                                        <a href="video.html#" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl" name="trash-outline"></ion-icon> Delete  </a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="card-list-divider"></hr>

                    <div class="card-list">
                        <a href="video-watch.html">
                            <div class="card-list-media md:w-[320px] md:h-[180px] sm:aspect-[3/1.2] aspect-[3/1.5]">
                                <img src="images/video/img-5.png" alt="">
                                <img src="images/icon-play.svg" class="!w-12 !h-12 absolute !top-1/2 !left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
                                <span class="absolute bg-black bg-opacity-60 bottom-1 font-semibold px-1.5 py-0.5 right-1 rounded text-white text-xs z-10"> 12:21</span>
                            </div>
                        </a>
                        <div class="card-list-body relative">
                            <a href="video-watch.html"> <h3 class="card-list-title lg:mt-2 lg:line-clamp-1">  Amazing little girl has very talent voice vocal coach</h3> </a>
                            <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                            <a href="timeline.html"> <div class="card-list-link mt-5">   James Lewis </div> </a>
                            <div class="flex items-center justify-between">
                                <div class="card-list-info">
                                    <div> 27 weeks ago</div>
                                    <div class="md:block hidden">·</div>
                                    <div> 156.9K views</div>
                                </div>
                                <button type="button" class=" bg-second ery px-3.5 py-1.5 rounded-lg border2 md:inline-block hidden text-sm"> Add favorites </button>
                            </div>
                            <!-- dropdown menu -->
                            <div class=" absolute top-0 right-0 -m-1">
                                <button type="button" class="hover:bg-secondery w-10 h-10 rounded-full grid place-items-center"> <ion-icon class="text-2xl" name="ellipsis-horizontal"></ion-icon> </button>
                                <div class="w-[245px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                    <nav>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="bookmark-outline"></ion-icon>  Add to favorites </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="albums-outline"></ion-icon>  add to collections </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="flag-outline"></ion-icon>  Report </a>
                                        <a href="video.html#"> <ion-icon class="text-xl" name="share-outline"></ion-icon>  Share </a>
                                        <hr>
                                        <a href="video.html#" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl" name="trash-outline"></ion-icon> Delete  </a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <!-- load more -->
                <div class="flex justify-center my-6">
                    <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                </div>


            </div>


        </div>

     
}
